# GNS3 Specific Ignores
# Appliance caches and large images
appliances/
*.bin
*.i386
*.amd64

# Project caches and temp files
.caches/
gns3/
snapshots/
symbols/

# Logs and runtime files
*.log
dynamips/*.log
qemu/*.log

# Personal/IDE files
.DS_Store
Thumbs.db
*.sublime-*
*.vscode/

# Large Exported Files
*.zip
*.tar.gz
